<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="menu.css">
<head>
    <title>
        Caravan-Menu
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    
    <h1>Caravan Restaurant Menu</h1>

    <nav>
    <a href="/">Home</a> |
    <a href="/menu">Menu</a> |
<div sec:authorize="hasRole('ADMIN','STAFF')">
<a href="/orders">View Orders</a>|
</div>
<div sec:authorize="hasRole('ADMIN')">
<a href="/add-menu">Add Menu Item</a>|
</div>
    <a href="/logout">Logout</a>
</nav>
<hr>
    <div class="container">
        <div class="menu-card" th:each="item : ${menuItems}">
            <input type="hidden"  th:value="${item.id}">
            <img th:src="${item.imageUrl}" alt="Food Image">
            <div class="food-name" th:text="${item.name}"></div>
            <div class="category" th:text="${item.category}"></div>
            <div class="price">
                 ₹ <span th:text="${item.price}"></span>
            </div>
            <div class="availability" th:classappend="${item.availability} ? 'available' : 'not-available'"
                   th:text="${item.availability} ? 'Available' : 'Not-Available'"></div>

            <div class="description" th:text="${item.description}"></div>
            <a th:href="@{/edit-menu/{id}(id=${item.id})}">edit</a>
                <a th:href="@{/delete-menu/{id}(id=${item.id})}">delete</a>
        </div>
    </div>
</body>


</html>