<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Place Order</title>
</head>
<body>
    <h1>Place Order</h1>
<nav>
    <a href="/">Home</a> |
    <a href="/menu">Menu</a> |<div sec:authorize="hasAnyRole('ADMIN','STAFF')">
<a href="/orders">View Orders</a>|
</div>
<div sec:authorize="hasRole('ADMIN')">
<a href="/add-menu">Add Menu Item</a>|
</div>
    <a href="/logout">Logout</a>
</nav>
<hr>
    <form th:action="@{/place-order}" method="post">

        <label>Customer Name: </label>
        <input type="text" name="customerName" placeholder="Customer Name" required>

        <br>
        <br>
        <div th:if="${#lists.isEmpty(menuItems)}">
            no menu items available
        </div>

        <div th:each="item : ${menuItems}" style="margin-bottom: 10px;">
            <div th:if="${item.availability}">
            <span th:text="${item.name}"></span>
            ₹ <span th:text="${#numbers.formatDecimal(item.price,1,2)}"></span>

            <input type="number" name="quantity" min="0" max="10" value="0">
            <input type="hidden" name="menuItemId" th:value="${item.id}">
            <br><br>

        </div>
        </div>

        <button type="submit">Place Order</button>


    </form>
</body>
</html>