<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order-Details</title>
</head>

<body>
<h1>Order Details</h1>
<nav>
    <a href="/">Home</a> |
    <a href="/menu">Menu</a> |
    <a href="/orders">Orders</a> |
    <a href="/logout">Logout</a>
</nav>
<hr>
<p><b>Customer Name: </b><span th:text="${order.customerName}"></span></p>
<p><b>Date: </b><span th:text="${order.orderDate}"></span></p>
<p><b>Status: </b><span th:text="${order.status}"></span></p>


<h3>Items</h3>

<table border="1">

    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        
    </tr>

    <tr th:each="item : ${order.orderItems}">
        <td th:text="${item.menuItem.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.subtotal}"></td>
    </tr>


</table>

<h3>Total : <span th:text="${order.totalAmount}"></span></h3>

</body>
</html>